<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h2>SBIs In Bangalore</h2>

<table>
  <tr>
    <th>Bank Name</th>
    <th>Branch</th>
    <th>Address</th>
  </tr>
  <tr>
    <td>State Bank Of India</td>
    <td>Local Head Office</td>
    <td>65, St Marks Rd, Shanthala Nagar, Ashok Nagar</td>
  </tr>
  <tr>
    <td>State Bank Of India</td>
    <td>Commercial Branch</td>
    <td>P.B 5072, KRISHI BHAVAN 1ST FLOOR, HUDSON CIRCLE</td>
  </tr>
  <tr>
    <td>State Bank Of India</td>
    <td>Indian Institute Of Science Branch</td>
    <td>Electrical Engineering Department, Indian Institute of Science, Javanica Marg, Devasandra Layout</td>
  </tr>

  </tr>
</table>
</body>
</html>